/*----------- Шрифты  (START)-----------*/
@font-face
	font-family 'FontAwesome';
	src url('../fonts/fa/fontawesome-webfont.eot?v=4.7.0')
	src url('../fonts/fa/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fa/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fa/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fa/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fa/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg')
	font-weight normal
	font-style normal


@font-face
	font-family 'OpenSansRegular'
	src url('../fonts/os-regular/OpenSansRegular.eot')
	src url('../fonts/os-regular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/os-regular/OpenSansRegular.woff') format('woff'),
		 url('../fonts/os-regular/OpenSansRegular.ttf') format('truetype')
	font-weight normal
	font-style normal

$fa = 'FontAwesome'

$font1 = 'Arial', sans-serif
$font2 = 'OpenSansRegular'

/*----------- Шрифты  (END)-----------*/

/*-----------  Цвета  (START)-----------*/

$blue = #00aeef // синий
$green = #a0c600 // зеленый 


/*----------- Цвета  (end)-----------*/

/*----------- Вспомогательные функции  (START)-----------*/

fs(x)
	font-size x

lh(x)
	line-height x
radius(x)
	border-radius x
bold()
	font-weight bold
normal()
	font-weight normal
ff(x)
	font-family x
h(x)
	height x
w(x)
	width x
b(x)
	background x
hlh(x)
	h(x)
	lh(x)
sq(x)
	w(x)
	h(x)
c(x)
	color x
flex()
	display flex
centerflex()
	display flex
	justify-content center
	align-items center
.center
	text-align center
.bold
	ff($font2)
cropTop()
	object-fit cover
	object-position center
/*----------- Вспомогательные функции (End)-----------*/

*
	box-sizing: border-box


body
	h(100%)
	overflow hidden
	ff($font2)
input
	h(24px)
.editor
	&__input
		width: 50px;
		margin: 0 15px 0 0;
		padding: 0 0 0 10px;
	&__wrapper
		w(100%)
		h(100%)
		overflow hidden
		position relative
	&__controls
		padding 15px
		display flex
		justify-content space-between
		flex-wrap: wrap
	&__span
		margin 0 15px 0 0
	&__col
		display: flex;
		margin 0 0 15px 0
	&__check
		margin 0 15px 0 0
	&__jscolor
		border none
		border-radius: 3px;
		padding: 0 0 0 5px;
		width: 75px;
.check
	position: absolute
	opacity 0
	cursor pointer
	&__container
		display flex
		padding 0 15px 0 0
		cursor pointer
		fs(22px)
		user-select: none
		.check
			background-color: #ccc
			&__mark
				&:after
					position absolute
					left: 9px;
					top: 5px;
					width: 5px;
					height: 10px;
					border: solid white;
					border-width: 0 3px 3px 0;
					transform: rotate(45deg);
		input:checked ~.check__mark
			background-color: #1DA600
			&:after
				display block	
	&__mark
		position: relative
		sq(24px)
		background-color: #eeeeee
		&:after
			content ''
			position: absolute
			display none


	